xsd-schemas/CliTie/TC2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="TC2">
	<xs:complexType>
		<xs:all>
			<xs:element name="emisor" type="xs:string"/>
			<xs:element name="receptor" type="xs:string"/>
			<xs:element name="time">
				<xs:complexType>
					<xs:all>
						<xs:element name="timestamp" type="xs:integer"/>
						<xs:element name="creador" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:element>

</xs:schema>
